@import "src/css/material";

.profileitem__container {
}

.profileitem__innercontainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  .profileitem__icon {
    width: 30px;
    height: 30px;
    background: $border-color;
    border-radius: 100%;
  }
}

.profileitem__dropdown-arrow {
  padding-left: 10px;
  font-size: 0.75rem;
}
