@import "src/css/material";

.container {
  position: relative;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  .icon {
    width: 30px;
    height: 30px;
    background: $border-color;
    border-radius: 100%;
  }
}

.dropdownArrow {
  padding-left: 10px;
  font-size: 0.75rem;
}
