@import "../../../css/styles";

.container {
  display: flex;
  flex-direction: row;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

.icon {
  background: $border-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 3px; // $border-radius - 2
  border-bottom-left-radius: 3px; // $border-radius - 2
  border: none;
  box-sizing: border-box;
  width: 50px;
}

.input {
  width: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-appearance: none;
  border: none;

  &:focus {
    outline: none;
  }
}