@import "src/css/material";

$handleSize: 15px;

.switch {
  width: $handleSize * 2.5;
  padding: 5px;
  height: $handleSize;
  border: 1px solid $border-color;
  display: flex;
  justify-content: flex-start;
  border-radius: $handleSize;
  cursor: pointer;
}

.switch[data-ison="true"] {
  justify-content: flex-end;
  background-color: $primary-color;

  .handle {
    background-color: white;
  }
}

.handle {
  width: $handleSize;
  height: $handleSize;
  background-color: $gray-font-color-disabled;
  border-radius: 100%;
}
