@import "../borders";
@import "../colors";

button.primary {
  background-color: $primary-color;
  color: white;

  &:hover {
    background-color: hoverColor($primary-color);
  }

  &:active {
    background-color: darken($primary-color, 9%);
  }
}

button.pressed {
  background-color: darken(white, 9%);
}

button.disabled {
  background-color: darken($border-color, 6%);
  color: $font-color-disabled;
}
