@import "src/css/_variables.scss";

.topbar-item__container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 30px;
  padding: 5px 0; // necessary for topbar-item__content and its hide behaviour
  cursor: pointer;

  * {
    text-decoration: none;
  }
}

.topbar-item__title, .topbar-item__icon {
  color: white;
  text-decoration: none !important;
}

.topbar-item__icon {
  margin-right: 10px;
  border-radius: 50%;
  max-height: 35px;
}

.topbar-item__content {
  display: flex;
  align-items: center;
}

.topbar-item__container-selected .topbar-item__title {
  border-bottom: 2px solid $primary-color;
}

.topbar-item__children-container {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  border-radius: $border-radius;
  border: 1px solid $outline-color;
  background: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  cursor: pointer;

  .topbar-sub-item__container {
    padding: 10px;
    display: flex;
    flex-direction: row;

    .topbar-item__title, .topbar-item__icon {
      color: $text-color;
    }

    &:hover {
      background-color: darken($nav-background, 3%);
      border-radius: $border-radius;
    }
  }
}
