@import "src/css/_variables.scss";

.topbar__container {
  width: 100%;
  height: 60px;
  background: $palette-1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-shadow: $primary-shadow;
  -moz-box-shadow: $primary-shadow;
  box-shadow: $primary-shadow;

  .topbar__logo {
    height: 70%;
    object-fit: contain;
  }

  .topbar__entries-container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
  }
}
