@import "src/css/material";

.container {

}

.item {
  padding-top: 10px;
  color: $primary-color;
  cursor: pointer;
  font-size: small;
  display: flex;
  align-items: center;

  @include hover_color;
}

.itemDisabled {
  color: $font-color-disabled;
  cursor: default;

  &:hover {
    color: $font-color-disabled;
  }
}

.itemIcon {
  margin-right: 10px;
}
