@import "../borders";
@import "../colors";
@import "../mixins/filters";

button.primary {
  background-color: $primary-color;
  color: white;

  @include hover_color;

  &:active {
    background-color: darken($primary-color, 9%);
  }
}

button.destructive {
  background-color: $red;
  color: white;

  @include hover_color;

  &:active {
    background-color: darken($red, 9%);
  }
}

button.pressed {
  background-color: darken(white, 9%);
}

button.disabled {
  background-color: darken($border-color, 6%);
  color: $font-color-disabled;
}
