@import "src/css/material";

.stacksTable {
  width: calc(100% - 30px);
  white-space: nowrap;
  border-collapse: collapse;
  overflow-y: auto;
  height: 100px;

  td, th {
    padding: 8px 16px;
    text-align: left;
  }

  thead {
    th {
      border-bottom: 2px solid $border-color;
      position: sticky;
      top: 0;
    }
  }

  tbody {

    tr:nth-child(odd) {
      background: lighten($tertiary-color, 2%);
    }

    td {
      border-bottom: 1px solid $border-color;
    }
  }

  .name {
    width: 99%
  }

}
