@import "src/css/_variables.scss";

.component-tree__node {
  padding: 3px;

  .component-tree__node-icon {
    padding-right: 5px;
    color: $primary-color;
  }

  .component-tree__node-text {
  }
}
