@import "src/css/_variables.scss";

$container_padding: 10px;

.navigator__container {
  -webkit-box-shadow: $primary-shadow;
  -moz-box-shadow: $primary-shadow;
  box-shadow: $primary-shadow;

  display: flex;
  flex-direction: column;
  background: $palette-4;
}

.navigator__subcomponent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .navigator__subcomponent-header {
    flex-grow: 0;
    padding: $container_padding;
    border-top: 1px solid $outline-color;
    border-bottom: 1px solid $outline-color;
    background: darken($palette-4, 10%);
  }

  .navigator__subcomponent-content {
    flex-grow: 1;
    flex-shrink: 0;
    padding: $container_padding;
  }
}
