@import "src/css/material";

.container {
  padding-left: $content-padding;
}

.contentTable {
  border-collapse: collapse;
  width: 100%;

  tr {
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }

  td {
    width: 100%;
    height: 60px;
    padding: 0 $content-padding;
  }
}

.spacer {
  flex-grow: 1;
}
