@import "src/css/material";

.navbar__container {
  padding: 0 $title-padding;
  height: 48px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $border-color;
  @include box_shadow_bottom(black)
}

.navbar__left-container {
  display: flex;
  flex-direction: row;
}

.navbar__middle-container {
  flex-grow: 1;
}

.navbar__right-container {
  display: flex;
  flex-direction: row;
}
