@import "src/css/material";

.navbar-item__container {
  color: $font-color-disabled;
  font-weight: 300;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 $title-padding;

  &:last-child {
    margin-right: 0;
  }

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    color: $font-color-medium;
  }
}

.navbar-item__container-left {
  border-bottom: 3px solid transparent;
}

.navbar-item__container-inner {
  font-size: 1rem;
  color: inherit;
  font-weight: inherit;
  letter-spacing: 0.05em;
}

.navbar-item__container-active {
  border-bottom-color: $primary-color;
  color: $font-color;
  font-weight: 500;

  &:hover {
    color: $font-color;
  }
}
