@import "src/css/material";

.container {
  padding: 0 $title-padding;
  height: 48px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $border-color;
}

.leftContainer {
  display: flex;
  flex-direction: row;
}

.middleContainer {
  flex-grow: 1;
}

.rightContainer {
  display: flex;
  flex-direction: row;
}
