@import "css/_variables.scss";

.nav-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: $nav-background;

  * {
    color: $nav-color;
  }

  .nav-row {
    padding: 15px 20px 15px 20px - $nav-selection-indicator-width;
    display: flex;
    flex-direction: row;
    border-left: $nav-selection-indicator-width solid transparent;
    text-decoration: none;

    .nav-icon {
      margin-right: 20px;
      width: 16px;
      height: 16px;
    }

    .nav-icon__profile {
      margin-right: 12px;
      margin-top: -5px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }

    .nav-title {
      flex-grow: 1;
    }

    .nav-arrow {
      font-size: 12px;
      align-self: center;
    }

    &:hover {
      background-color: darken($nav-background, 3%);
    }
  }

  .nav-row__selected {
    border-left: $nav-selection-indicator-width solid $nav-selection-indicator-color;
    background-color: darken($nav-background, 15%);

    &:hover {
      background-color: darken($nav-background, 15%);
    }
  }

  .nav-content {
    display: none;
  }

  // Inside another NavigationItem
  .nav-content__active {
    display: block;

    .nav-row {
      background-color: darken($nav-background, 3%);

      &:hover {
        background-color: darken($nav-background, 5%);
      }
    }

    .nav-row__selected {
      border-left: $nav-selection-indicator-width solid $nav-selection-indicator-color;
      background-color: darken($nav-background, 15%);

      &:hover {
        background-color: darken($nav-background, 15%);
      }
    }
  }
}
