@import "src/css/_variables.scss";

.nav-container {
  display: flex;
  flex-direction: column;
  background: $nav-background;

  -webkit-box-shadow: $primary-shadow;
  -moz-box-shadow: $primary-shadow;
  box-shadow: $primary-shadow;
}
