@import "src/css/material";

.container {
  position: absolute;
  z-index: 1000;
  top: 100%;
  color: $font-color;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  white-space: nowrap;
  @include box_shadow_bottom(black);

  &:hover {
    color: $font-color;
  }
}

.containerLeft {
  left: 0;
}

.containerRight {
  right: 0;
}

.popupitem__container {
  padding: $title-padding $content-padding;
  display: flex;
  flex-direction: row;
  background: white;
  @include hover_color;
}

.popupitem__icon {
  padding-right: $title-padding;
}

.popupitem__containerSeparatorTop {
  border-top: 1px solid $border-color;
}
