@import "src/css/material";

.graphContainer {
  height: calc(100% - 2px);
  position: relative; // necessary for canvas placement (absolute position)
  border-radius: $border-radius;
  border: 1px solid $border-color;
  @include box_shadow_bottom_light(black)
}
