@import "src/css/material";

.graphContainer {
  height: 100%;
  position: relative; // necessary for canvas placement (absolute position)
  border-radius: $border-radius;
  border: 1px solid $border-color;
}
