@import "src/css/material";

.headerContainer {
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 0;
  }
}

.heading {
  color: $gray-font-color;
}

.contentTable {
  border-collapse: collapse;
  width: 100%;

  tr {
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }

  td {
    width: 100%;
    height: 60px;
    padding: 0 $content-padding;
  }
}

.footerContainer {
  display: flex;
  flex-direction: row-reverse;
}

.spacer {
  flex-grow: 1;
}
