@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans'), url(/assets/fonts/IBMPlexSans-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: local('IBM Plex Sans'), url(/assets/fonts/IBMPlexSans-Bold.ttf) format('ttf');
}
