$palette-1: #222831;
$palette-2: #393e46;
$palette-3: #00adb5;
$palette-4: #eeeeee;

$primary-color: $palette-3;
$outline-color: darken($palette-4, 20%);

$border-radius: 5px;
$primary-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);

$nav-background: $palette-1;
$nav-color: white;
$nav-selection-indicator-color: $primary-color;
$nav-selection-indicator-width: 5px;
