@import "contextswitcher";

.button {
  border-color: $border-color;

  span {
    font-size: 18px;
  }

  width: $content-size;
  height: $content-size;
  margin: $content-size / 1.5 0 0;
  padding: 0;

  &:first-child {
    margin-top: 0;
  }
}

.buttonActive {
  @include glow_shadow($primary-color)
}
