@import "src/css/material";

.container {
  width: 216px;
  background-color: $gray-background;
  display: flex;
  flex-direction: column;
  color: $gray-font-color
}

.upperContainer {

}

.middleContainer {
  flex-grow: 1;
}

.lowerContainer {

}

.header {
  color: $gray-font-color-disabled;
  padding: 16px 8px 0;
  display: flex;
  align-items: center;
  cursor: default;
  height: 24px;

  .text {
    font-size: 0.85rem;
    flex-grow: 0;
  }

  &:hover .headerIcon {
    display: inherit;
  }
}

.headerIcon {
  display: none;
}

.entry {
  height: 40px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    filter: brightness(85%)
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  flex-grow: 0;
}

.text {
  flex-grow: 1;
  margin: -2px 8px 0;
  padding-top: 2px;
  font-weight: normal;
}

.textActive {
  color: $primary-color;
}
