@import "contextswitcher";

.container {
  padding: $content-size / 2.5;
  border-right: 1px solid $border-color;
  display: flex;
  flex-direction: column;
}

.upperContainer {

}

.middleContainer {
  flex-grow: 1;
}

.lowerContainer {

}
