$primary-color: #00adb5;
$secondary-color: #393e46;
$tertiary-color: #f8f9fb;
$border-color: #eeeeee;
$font-color: rgba(#000000, 0.87);
$font-color-medium: rgba(#000000, 0.60);
$font-color-disabled: rgba(#000000, 0.38);

/** Function to generate a hover color */
@function hoverColor($color) {
  @return darken($color, 6%);
}
