@import "src/css/material";

.pagecontent__container {
  width: 100%;
  height: 100%;

  // display as grid
  display: grid;
  grid-template-areas: "edge edge navbar" "switcher content content";
  grid-gap: 0 0;
  grid-template-rows: min-content 1fr;
  grid-template-columns: min-content 18% 1fr;
}

.pagecontent__container_with-navigator {
  grid-template-areas: "edge edge navbar" "switcher navigator content";
}

.pagecontent__switcher {
  grid-area: switcher;
}

.pagecontent__navigator {
  grid-area: navigator;
}

.pagecontent__navbar {
  grid-area: navbar;
}

.pagecontent__edge {
  border-bottom: 1px solid $border-color;
  grid-area: edge;

  // Logo
  background-image: url("/300.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  padding: $title-padding;
}

.pagecontent__content {
  grid-area: content;
}
