@import "src/css/material";

$container_padding: 10px;

.navigator__container {
  border-top: 1px solid $border-color;
  border-right: 1px solid $border-color;
  padding: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background: $tertiary-color;

  & > * {
    flex-grow: 1;
  }
}
