@import "src/css/material";

$selection-border-width: 4px;

.container {
  width: 216px;
  background-color: white;
  border-right: 2px solid $gray-background;
  display: flex;
  flex-direction: column;
  color: $gray-font-color
}

.upperContainer {

}

.middleContainer {
  flex-grow: 1;
}

.lowerContainer {

}

.header {
  color: $gray-font-color-disabled;
  padding: 12px 8px 5px;
  display: flex;
  align-items: center;
  cursor: default;
  height: 24px;

  .text {
    font-size: 0.85rem;
    flex-grow: 0;
  }

  &:hover .headerIcon {
    display: inherit;
  }
}

.headerIcon {
  display: none;
}

.entry {
  height: 40px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-left: $selection-border-width solid transparent;

  &:hover {
    filter: brightness(85%)
  }
}

.entryActive {
  border-left: $selection-border-width solid $primary-color;
  background-color: rgba($primary-color, 0.05);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  flex-grow: 0;
}

.text {
  flex-grow: 1;
  margin: -2px 6px 0;
  padding-top: 2px;
  font-weight: normal;
}
