@import "src/css/material";

.container {
  width: 100vw;
  height: 100vh;
  background-color: $light-gray-background;
  color: $gray-font-color;

  // display as grid
  display: grid;
  grid-template-areas: "edge navbar navbar" "switcher content content";
  grid-gap: 0 0;
  grid-template-rows: min-content minmax(0, 1fr);
  grid-template-columns: min-content 15% 1fr;
}

.switcher {
  grid-area: switcher;

  width: 216px;
  background-color: white;
  border-right: 2px solid $gray-background;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.navbar {
  grid-area: navbar;
}

.edge {
  grid-area: edge;

  // Logo
  background-image: url("/300.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  background-color: white;
  border-right: 2px solid $gray-background;
  padding: $title-padding;
  cursor: pointer;
}

.content {
  grid-area: content;
  padding: 0 $content-padding $content-padding 0;
}

.children {
  overflow-y: auto;
}

.details {
  background: white;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  padding: $content-padding;
  height: unset !important;
}
