#root {
  width: 100%;
  height: 100%;

  // display as grid
  display: grid;
  grid-template-areas: "header header" "navigation content";
  grid-gap: 0 0;
  grid-template-columns: 200px 1fr;
  grid-template-rows: min-content 1fr;
}

.root__topbar {
  grid-area: header;
}

.root_navigation {
  grid-area: navigation;
}

.root_content {
  grid-area: content;
}
