@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
}

* {
    color: #424242;
    font-family: 'Hind', sans-serif;
    font-size: 12pt;
}
