@import "css/styles";

.container {
  padding-left: $content-padding;
}

.spacer {
  flex-grow: 1;
}

.leaseContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leaseID {
  flex-grow: 1;
}
