@import "src/css/material";

.container {
}

.node {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  padding: 5px 0;
  cursor: default;
}

.nodeSelected {
  .text {
    text-decoration: underline;
  }
}

.nodeSelectable {
  cursor: pointer;
}

.root {
  .icon {
    color: $primary-color;
    padding-left: 3px;
  }
}

.arrow {
  font-size: 10px;
  color: $secondary-color;
  padding-left: 7px;
  cursor: pointer;
}

.icon {
  padding-left: 7px;
  padding-right: 7px;
  color: $secondary-color;
}

.text {
  white-space: nowrap;
}
